body {
	background: #f2f2f2;
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* MISC */
.small {
    font-size: 1.5rem;
}
.medium {
    font-size: 3rem;
}
.blue {
	background-color: #55ACEE;
}
.orange {
	background-color: #FF8250;
}
.purple {
	background-color: #6464F1;
}
.yellow {
	background-color: #FFD350;
}
.center {
	text-align: center;
}
.spaced {
	margin-top: 40px;
}
.horizontal-list {
	display: inline-flex;
	list-style: none;
	width: 100%;
	flex-wrap: wrap;
}
.horizontal-list li:not(:last-of-type)::after {
	content: ",\00a0\00a0";
}
.dimmer {
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.5);
}
.skinny {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
/* END MISC */

/* HEADER */
.header {
	height: 300px;
	width: 100%;
	color: #fff;
}
@media (max-width: 550px) {
	.header {
		height: 150px;
	}
}
.header-title {
	width: calc(100% - 20px);
	overflow-x: scroll;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
/* END HEADER */


/* SEARCH BAR */
.search-bar {
	background-color: #fff;
	padding: 5px 20px;
	border-radius: 6px;
}
.search-bar .component {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}
.search-bar form {
	margin: 0;
}
.search-bar label {
	display: inline-block;
	margin-bottom: 0;
	font-size: 40px;
	font-weight: normal;
}
.search-bar input:focus {
	outline: none;
}
.search-bar input[type="text"] {
	height: auto;
	width: calc(100% - 60px);
	margin-bottom: 0;
    background: transparent;
    border: none;
    border-bottom: none;
    border-radius: 0;
    font-size: 50px;
}
.search-bar input[type="submit"] {
	margin: 10px 0 15px;
	height: 51px;
	font-size: 2.5rem;
	float: right;
	width: 100%;
}
@media (min-width: 550px) {
	.search-bar input[type="submit"] {
		margin-top: 0;
		transform: translateY(50%);
		border: none;
	}
}
/* END SEARCH BAR */


/********************************************************/
/****************** SEARCH RESULT PAGE ******************/

/* TIMELINE */
.card {  /* (each tweet is contained in a card) */
	background: #fff;
}
.card img {
	width: 100%;
}
.card .padded {
	padding: 30px;
}
.card .text {
	font-size: 2.7rem;
	overflow-x: hidden;
}
.card .date {
	margin-top: 10px;
}
@media (max-width: 550px) {
	.card .padded {
		padding: 20px;
	}
}
.vert-line {  /* connects cards to give timeline look */
	width: 0px;
	margin-left: auto;
	margin-right: auto;
	border-right: solid #dadada 2px;
	height: 75px;
}
.footer {  /* the big text at the bottom */
	color: #000;
}
.footer .footer-title {
	width: calc(100% - 100px);
	margin: 0 auto 80px;
	text-align: center;
}
@media (max-width: 550px) {
	.footer .footer-title {
		margin-top: 30px;
		margin-bottom: 60px;
	}
}
/* END TIMELINE */

/* INFO (used for statistics display in timeline result) */
.info {
	background-color: #fff;
}
.info .columns {
	margin-bottom: 20px;
	text-align: center;
}
.info .columns .big {  /* probably an icon or symbol */
	font-size: 4rem;
	margin: 18px auto 0;
}
@media (max-width: 550px) {
	.info .columns:not(:last-of-type) {
		margin-bottom: 0;
	}
	.info .three.columns {
	    width: 50%;
	}
	.info .three.columns .big {
	    width: 50%;
	}
	.info .columns .big {
		font-size: 3rem;
	}
}
/* END INFO */

/* TIMELINE BANNER BUTTONS */
.banner-button {
	cursor: pointer;
	position: absolute;
	top: 40px;
	font-size: 2em;
	color: #fff;
	line-height: normal;
}
.banner-button:hover {
	color: #fff;
}
.banner-button-left {
	left: 40px;
}
.banner-button-right {
	right: 40px;
}
@media (max-width: 550px) {
	.banner-button {
		top: 20px;
		font-size: 1.5em;
	}
	.banner-button-left {
		left: 20px;
	}
	.banner-button-right {
		right: 20px;
	}
}
/* END TIMELINE BANNER BUTTONS */

/**************** END SEARCH RESULT PAGE ****************/
/********************************************************/
